@{
  Layout = "_Layout";
}

@model SpareParts.Models.Vehicle

<h2>Edit</h2>

<h4>Edit this Vehicle: @Html.DisplayFor(model => model.Model)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.VehicleId)

  @Html.LabelFor(model => model.Model)
  @Html.EditorFor(model => model.Model)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>